body {
  font-family: 'Roboto', sans-serif;
  background: #70e1f5;  
  background: -webkit-linear-gradient(to left, #ffd194, #70e1f5); 
  background: linear-gradient(to left, #ffd194, #70e1f5); 
}

h1 {
  background-color: #2980b9;
  color: white;
  margin: 0;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: white;
  height: 40px;
  line-height: 40px;
  color: #666;
}

li:nth-child(2n) {
  background-color: #f7f7f7;
}

li:hover span {
  width: 40px;
  opacity: 1;
}

span {
  display: inline-block;
  background-color: #e74c3c;
  margin-right: 20px;
  height: 40px;
  width: 0px;
  text-align: center;
  color: white;
  transition: 0.3s linear;
  opacity: 0;
}

input {
  width: 100%;
  color: #2980b9;
  font-size: 18px;
  background-color: #f7f7f7;
  padding: 13px 13px 13px 20px;
  border: none;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

input:focus {
  background-color: #fff;
  border: 3px solid #2980b9;
  outline: none;
}

#container {
  width: 360px;
  margin: 100px auto;
  background-color: #f7f7f7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.done {
  color: red;
  text-decoration: line-through;
}

.fa-plus {
  float: right;
}